.example-container {
  width: 100%;
  font-size: 16px;
}
.btn-success {
  background-color: #f44336;
  border-color: #f44336;
}
.mda-form-msg {
  color: #f44336;
}

.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
