<div class="row">
    <div class="col-lg-6" style="margin: 10px;">
        <h2 style="text-align: center;" >{{ accion }} Empleado</h2>
    </div>
</div>
<div class="row" style="margin: 10px;">
    <div class="col-lg-6" style="text-align: center;">
        <form [formGroup]="myForm">
            <!-- container nombre -->
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="example-container">
                        <mat-label>Primer Nombre</mat-label>
                        <input matInput #inputfn pattern="[a-zA-Z ]*" maxlength="20" formControlName="firstName" >
                        <mat-hint align="end">{{inputfn.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-6" >
                    <mat-form-field class="example-container">
                        <input matInput #inputmn pattern="[a-zA-Z ]*" maxlength="50" formControlName="middleName" >
                        <mat-hint align="end">{{inputmn.value?.length || 0}}/50</mat-hint>
                        <mat-label>Segundo Nombre</mat-label>
                    </mat-form-field>
                </div>
            </div>
            <!-- container apellidos -->
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="example-container">
                        <input matInput #inputln pattern="[a-zA-Z ]*" maxlength="20" formControlName="lastName" >
                        <mat-hint align="end">{{inputln.value?.length || 0}}/20</mat-hint>
                        <mat-label>Primer Apellido</mat-label>
                    </mat-form-field>
                </div>
                <div class="col-lg-6" >
                    <mat-form-field class="example-container">
                        <mat-label>Segundo Apellido</mat-label>
                        <input matInput #inputsln pattern="[a-zA-Z ]*" maxlength="20" formControlName="secondLastName" >
                        <mat-hint align="end">{{inputsln.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <!-- container pais, area de la empresa -->
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field>
                        <mat-label>Pais</mat-label>
                        <mat-select formControlName="country">
                            <mat-option *ngFor="let pais of paises" [value]="pais">{{ pais }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6" >
                    <mat-form-field >
                        <mat-label>Area</mat-label>
                        <mat-select formControlName="area">
                            <mat-option  *ngFor="let area of areas" [value]="area">{{ area }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- container documento, identificacion -->
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field >
                        <mat-label>Tipo De Documento</mat-label>
                        <mat-select formControlName="documentType">
                            <mat-option *ngFor="let tipoDocumento of tiposDocumentos" [value]="tipoDocumento">{{ tipoDocumento }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6" >
                    <mat-form-field class="example-container">
                        <mat-label>Documento</mat-label>
                        <input matInput #inputd pattern="[0-9 ]*" maxlength="20" formControlName="document" >
                        <mat-hint align="end">{{inputd.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <!-- container Fecha de ingreso a la empresa -->
            <div class="col-lg-6 offset-lg-3" style="align-items: center;">
                <mat-form-field class="example-container">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="addmissionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <!-- container Correo Electronico no editable -->
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Correo Electronico(Autogenerado)</mat-label>
                    <input matInput #inputce formControlName="email">
                    <mat-hint align="end">{{inputce.value?.length || 0}}/300</mat-hint>
                </mat-form-field>
            </div>
            
            <!-- container Fecha de creacion del registro y de ultima actualizacion -->
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="example-container">
                        <mat-label>Fecha Creacion(Autogenerado)</mat-label>
                        <input matInput  formControlName="createdAt">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-container">
                        <mat-label>Ultima Actualizacion(Autogenerado)</mat-label>
                        <input matInput  formControlName="updateAt">
                    </mat-form-field>
                </div>
            </div>
            <!-- container estado Activo -->
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="example-container">
                        <mat-label>Estado(Autogenerado)</mat-label>
                        <input matInput formControlName="state">
                    </mat-form-field>
                </div>
            </div>
            <!-- container Botones volver y aceptar -->
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-success btn-lg float-right"
                    type="button" style="margin-left: 10px;" (click)="saveEmployee()" [disabled]="myForm.invalid" >Aceptar</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-secondary btn-lg float-right" routerLink="/"
                        type="button">Cancelar</button>
                </div>
            </div>
        </form>

    </div>
    <!-- container imagen adorno -->
    <div class="col-lg-4 offset-lg-1"  >
        <img src="../../../assets/img/crear-usuario.jpg" alt="" width="95%" height="95%">
    </div>
</div>
    
    
