<div class="container">
  <button mat-raised-button color="warn" style="margin: 10px;" routerLink="/add">Agregar Empleado</button>
</div>
<div class="container">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
  </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="documentType">
      <th mat-header-cell *matHeaderCellDef> Tipo de Documento </th>
      <td mat-cell *matCellDef="let empleados">{{empleados.documentType}}</td>
    </ng-container>
    <ng-container matColumnDef="document">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let empleados">{{empleados.document}}</td>
    </ng-container>
    
    
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let empleados">{{empleados.firstName}} {{empleados.middleName}}</td>
    </ng-container>
  
    
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let empleados">{{empleados.lastName}} {{empleados.secondLastName}}</td>
    </ng-container>
  
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo Electronico </th>
      <td mat-cell *matCellDef="let empleados"> {{empleados.email}} </td>
    </ng-container>

    
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef> Area </th>
      <td mat-cell *matCellDef="let empleados"> {{empleados.area}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Pais </th>
      <td mat-cell *matCellDef="let empleados"> {{empleados.country}} </td>
    </ng-container>

    
    <ng-container matColumnDef="addmissionDate">
      <th mat-header-cell *matHeaderCellDef>Fecha De Ingreso </th>
      <td mat-cell *matCellDef="let empleados"> {{empleados.addmissionDate}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Fecha De Creacion </th>
      <td mat-cell *matCellDef="let empleados"> {{empleados.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="updateAt">
      <th mat-header-cell *matHeaderCellDef>Ultima Actualizacion </th>
      <td mat-cell *matCellDef="let empleados"> {{empleados.updateAt}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let empleados">
        <a  routerLink="edit/{{empleados.id}}" class="pointer"><mat-icon style="color: black;" >edit</mat-icon></a> 
        <a (click)=eliminarEmpleado(empleados.id) class="pointer"><mat-icon style="color: black;" >delete</mat-icon></a> 
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

